In [2]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
posts = pd.read_csv('../data/2020-08-19-12-13-18-EAT-Historical-Report-1970-01-01--2020-08-19.csv')

In [4]:
# posts = posts[['Facebook Id', 'Message', 'Description']]
# posts.dropna(subset=['Message', 'Description'], inplace=True)
# posts['text'] = posts['Message'].str.cat(posts['Description'], sep=' \n ', na_rep='')
# posts['label'] = ''
# posts

## Annotation

### Prepare dataset for annotation

In [5]:
# Try new approach for creating 'text' column
posts = posts[['Facebook Id', 'Message', 'Description']]
posts.dropna(subset=['Message', 'Description'], inplace=True)
posts.Message.fillna(posts.Description, inplace=True)
posts['text'] = posts['Message']
posts['label'] = ''
posts

,Facebook Id,Message,Description,text,label
1,169252986456497,NTV BIZ: With bad loans at more than 50% for t...,With bad loans at more than 50% for the Equity...,NTV BIZ: With bad loans at more than 50% for t...,
23,105583497196,Police summon Tumukunde over meetings with arm...,The former intelligence chief is currently bat...,Police summon Tumukunde over meetings with arm...,
27,105583497196,The battle for top positions in the Central Ex...,NEC members are expected to endorse the names ...,The battle for top positions in the Central Ex...,
28,169252986456497,The Uganda Law Society has written to the Law ...,The Uganda Law Society has written to the Law ...,The Uganda Law Society has written to the Law ...,
45,169252986456497,Presidential Aspirant and former Security mini...,Presidential Aspirant and former Security mini...,Presidential Aspirant and former Security mini...,
...,...,...,...,...,...
299938,274577061337,Only true leaders know when to be political an...,As we continue to do all we can as a country t...,Only true leaders know when to be political an...,
299943,169252986456497,About 3.4 million Uganda will be pushed into p...,About 3.4 million Uganda will be pushed into p...,About 3.4 million Uganda will be pushed into p...,
299947,274577061337,"""What kind of quarantine is this where there i...",The Uganda Civil Aviation Authority (CAA) is o...,"""What kind of quarantine is this where there i...",
299951,169252986456497,#Mwasuzemutya Emboozi ya Dj Jacob Omutuuze www...,#Mwasuzemutya Emboozi ya Dj Jacob Omutuuze,#Mwasuzemutya Emboozi ya Dj Jacob Omutuuze www...,
299955,169252986456497,All court hearings and appearances have been s...,All court hearings and appearances have been s...,All court hearings and appearances have been s...,

In [6]:
posts.drop(columns=['Message', 'Description'], inplace=True)

In [7]:
posts.head()

        Facebook Id                                               text label
1   169252986456497  NTV BIZ: With bad loans at more than 50% for t...
23     105583497196  Police summon Tumukunde over meetings with arm...
27     105583497196  The battle for top positions in the Central Ex...
28  169252986456497  The Uganda Law Society has written to the Law ...
45  169252986456497  Presidential Aspirant and former Security mini...

### Extract 5000 posts for annotation

In [9]:
# sample_posts = posts.head(2000)
sample_posts = posts.iloc[2001:7001]

In [9]:
sample_posts.to_csv('sample_posts_text3.csv')

### Some other sample posts

In [14]:
other_sample_posts = posts.iloc[7001:7501]
other_sample_posts.drop(['Facebook Id', 'label'], axis=1, inplace=True)
other_sample_posts['category'] = ''
other_sample_posts.to_csv('other_sample_posts.csv')

## Post-annotation

### Read in annotated dataset

In [2]:
annotated_posts = pd.read_csv('../data/CrowdTangle-annotated-posts.csv')
annotated_posts.head(10)

,annotation_approver,id,label,meta,meta.Facebook Id,text,user
0,NaN,3262,12,21421,274577061337,Defence and excuses!,7
1,NaN,3517,12,23805,1681786142107330,PEOPLE POWER/ NUP,2
2,NaN,3518,12,23811,1681786142107330,MR .UPDATE MP TO BE.,7
3,NaN,3869,12,27335,1681786142107330,Permit to sing üé∂,7
4,NaN,3870,12,27373,274577061337,DONALD J. TRUMP HAS GONE BONKERS!!!,7
5,NaN,4138,14,30424,1681786142107330,Food Grade Packaging Paper Bags,2
6,NaN,3263,13,21423,329423169077,Celebrating 70 years of Formula One üóûÔ∏è Story i...,2
7,NaN,3264,12,21425,1486116641609917,KABULETA ALEETA SENTE 2021,2
8,NaN,3265,13,21436,105583497196,"Bizonto, popular culture and politics of the d...",2
9,NaN,3266,12,21454,274577061337,Learning From Dr. Patrick Bitature | Episode 1,2

### Convert annotation label column (`label`) to categorical column type

In [3]:
annotated_posts['category'] = annotated_posts['label'].astype('category')
annotated_posts['category']

0       12
1       12
2       12
3       12
4       12
        ..
4996    14
4997    12
4998    13
4999    13
5000    13
Name: category, Length: 5001, dtype: category
Categories (3, int64): [12, 13, 14]

In [4]:
annotated_posts['category'].cat.categories = ['Organic', 'Editorial', 'Promotional']
annotated_posts.head(10)

,annotation_approver,id,label,meta,meta.Facebook Id,text,user,category
0,NaN,3262,12,21421,274577061337,Defence and excuses!,7,Organic
1,NaN,3517,12,23805,1681786142107330,PEOPLE POWER/ NUP,2,Organic
2,NaN,3518,12,23811,1681786142107330,MR .UPDATE MP TO BE.,7,Organic
3,NaN,3869,12,27335,1681786142107330,Permit to sing üé∂,7,Organic
4,NaN,3870,12,27373,274577061337,DONALD J. TRUMP HAS GONE BONKERS!!!,7,Organic
5,NaN,4138,14,30424,1681786142107330,Food Grade Packaging Paper Bags,2,Promotional
6,NaN,3263,13,21423,329423169077,Celebrating 70 years of Formula One üóûÔ∏è Story i...,2,Editorial
7,NaN,3264,12,21425,1486116641609917,KABULETA ALEETA SENTE 2021,2,Organic
8,NaN,3265,13,21436,105583497196,"Bizonto, popular culture and politics of the d...",2,Editorial
9,NaN,3266,12,21454,274577061337,Learning From Dr. Patrick Bitature | Episode 1,2,Organic

### Drop unnecessary columns

In [5]:
final_df = annotated_posts[['id', 'text', 'category']]
final_df.head(10)

     id                                               text     category
0  3262                               Defence and excuses!      Organic
1  3517                                  PEOPLE POWER/ NUP      Organic
2  3518                               MR .UPDATE MP TO BE.      Organic
3  3869                                   Permit to sing üé∂      Organic
4  3870                DONALD J. TRUMP HAS GONE BONKERS!!!      Organic
5  4138                    Food Grade Packaging Paper Bags  Promotional
6  3263  Celebrating 70 years of Formula One üóûÔ∏è Story i...    Editorial
7  3264                         KABULETA ALEETA SENTE 2021      Organic
8  3265  Bizonto, popular culture and politics of the d...    Editorial
9  3266     Learning From Dr. Patrick Bitature | Episode 1      Organic

In [6]:
final_df.to_csv('Crowdtangle-dataset-for-ml.csv')

## Reannotation (covid/non-covid)

### Prepare dataset for re-annotating (covid/non-covid categories)

In [9]:
final_df['label'] = ''
final_df.head()

     id                                 text category label
0  3262                 Defence and excuses!  Organic
1  3517                    PEOPLE POWER/ NUP  Organic
2  3518                 MR .UPDATE MP TO BE.  Organic
3  3869                     Permit to sing üé∂  Organic
4  3870  DONALD J. TRUMP HAS GONE BONKERS!!!  Organic

In [10]:
final_df.shape

(5001, 4)

In [11]:
final_df.to_csv('Crowdtangle-dataset-for-reannotation')

### Post annotation

In [3]:
posts = pd.read_csv('../data/CrowdTangle-annotated-covid-posts.csv')

In [5]:
posts.sample(5)

,annotation_approver,id,label,meta,meta.category,meta.id,text,user
1392,NaN,10379,57,1387,Organic,4490,"JOHN HUME, CONSIDERED THE GREATEST PEACE MAKER...",7
865,NaN,9850,57,858,Organic,3954,WHAT DO YOU THINK BOBI WINE HAVE?? MAGICALLY ?...,7
1873,NaN,10859,56,1867,Editorial,4968,The titular head of the Muslim community Princ...,7
4056,NaN,13040,57,4048,Organic,7154,UAE,2
4419,NaN,13401,57,4409,Editorial,7514,Police arrest 32 for watching Arsenal vs Liver...,2

### Remove duplicate text

In [7]:
deduplicated = posts.drop_duplicates(subset='text')

In [9]:
deduplicated.count()

annotation_approver       0
id                     4521
label                  4521
meta                   4521
meta.category          4521
meta.id                4521
text                   4521
user                   4521
dtype: int64

### Remove URLs