## Notebook to study the contents of the CrowdTangle posts historical dataset

In [1]:
import pandas as pd

In [2]:
posts = pd.read_csv('../data/2020-08-19-12-13-18-EAT-Historical-Report-1970-01-01--2020-08-19.csv')

/home/lydia/anaconda3/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Find out all the columns the dataset contains

In [3]:
posts.columns

Index(['Page Name', 'User Name', 'Facebook Id', 'Likes at Posting', 'Created',
       'Type', 'Likes', 'Comments', 'Shares', 'Love', 'Wow', 'Haha', 'Sad',
       'Angry', 'Care', 'Video Share Status', 'Post Views', 'Total Views',
       'Total Views For All Crossposts', 'Video Length', 'URL', 'Message',
       'Link', 'Final Link', 'Image Text', 'Link Text', 'Description',
       'Sponsor Id', 'Sponsor Name', 'Overperforming Score'],
      dtype='object')

### Compare the `Message` and `Description` columns to find which one contains useful text

In [4]:
posts = posts[['Type', 'Message', 'Description']]
posts

,Type,Message,Description
0,Photo,EC WARNS AGAINST DISRUPTING ELECTIONS Some peo...,NaN
1,Video,NTV BIZ: With bad loans at more than 50% for t...,With bad loans at more than 50% for the Equity...
2,Native Video,AD. Looking for a place for your child? Rainbo...,NaN
3,Photo,BESIGYE TO PICK NOMINATION FORMS TODAY FDC par...,NaN
4,Live Video,LIVE: NRM CEC candidates meet ahead of 2021 | ...,NaN
...,...,...,...
299976,Video,NaN,NaN
299977,Photo,Join the billionaire cult without human sacrif...,NaN
299978,Photo,NaN,China on Friday reported no new local cases of...
299979,Photo,NaN,TRIPLE M SUITES NTEBBE \n\nWELCOME! \nWhatever...
299980,Photo,NaN,Do not miss Facebook live streaming at 8:00pm ...

### Find all the different types of posts

#### At first glance, different types of posts appear to have either a description only, a message only, or in some cases, both.
#### A look into this will help identify thse differences and learn which fileds to save as the post's text for annotation

In [5]:
posts['Type'].unique()

array(['Photo', 'Video', 'Native Video', 'Live Video', 'Link', 'Status',
       'YouTube', 'Live Video Complete', 'Live Video Scheduled', 'Album'],
      dtype=object)

#### The `Photo` type

In [6]:
posts[posts['Type'] == 'Photo']

,Type,Message,Description
0,Photo,EC WARNS AGAINST DISRUPTING ELECTIONS Some peo...,NaN
3,Photo,BESIGYE TO PICK NOMINATION FORMS TODAY FDC par...,NaN
5,Photo,Current atmosphere in Najjanankumbi as those s...,NaN
6,Photo,NaN,Few facts of a giraffe birth tyat u need to kn...
8,Photo,NaN,#promoterAlvin_Ug!! Mr Bebe cool nyongela okus...
...,...,...,...
299975,Photo,NaN,CORONAVIRUS: \n\nðŸ“·: Indian municipal workers s...
299977,Photo,Join the billionaire cult without human sacrif...,NaN
299978,Photo,NaN,China on Friday reported no new local cases of...
299979,Photo,NaN,TRIPLE M SUITES NTEBBE \n\nWELCOME! \nWhatever...
299980,Photo,NaN,Do not miss Facebook live streaming at 8:00pm ...

#### The `Status` type (text-only posts)

In [7]:
posts[posts['Type'] == 'Status']

          Type                                            Message Description
15      Status  Bed space available around Burj khalifa Dubai ...         NaN
22      Status                                                NaN         NaN
123     Status                                                NaN         NaN
151     Status                                                NaN         NaN
155     Status                  A Dictator Wants His Rights ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚         NaN
...        ...                                                ...         ...
299906  Status  Haha...;;;me i supporse prisoners should be re...         NaN
299919  Status                                                NaN         NaN
299949  Status  Today games betting odds are available just wh...         NaN
299957  Status  Uganda News: Everybody that arrives at Entebbe...         NaN
299968  Status                                                NaN         NaN

[24245 rows x 3 columns]